@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #002E5D;
}

/* Container */
.forgot-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  background: #002E5D;
}

/* Glassmorphism Effect */
.forgot-password-box {
  background: rgba(255, 255, 255, 0.74);
  backdrop-filter: blur(15px);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  width: 400px;
  text-align: center;
}

/* Title */
.forgot-password-title {
  color: #002E5D;
  font-size: 1.4rem;
  font-weight: 800;
  /* text-transform: uppercase; */
  margin-bottom: 1.5rem;
}

/* Subtitle */
.forgot-password-subtitle {
  color: #002E5D;
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

/* Input Fields */
.input-group {
  margin-top: 1.2rem;
  text-align: left;
}

.input-label {
  color: #002E5D;
  display: block;
  font-size: 1rem;
  margin-bottom: 6px;
  font-weight: bold;
}

/* Input Field */
.input-field {
  width: 100%;
  padding: 14px;
  background-color: rgba(228, 228, 228, 0.728);
  color: #002E5D;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
}

.input-field:focus {
  border-color: #6BBF59;
  outline: none;
  box-shadow: 0 0 10px rgba(104, 202, 82, 0.396);
}

/* Reset Button */
.reset-btn {
  margin-top: 20px;
  width: 100%;
  background: linear-gradient(135deg, #002E5D, #6BBF59);
  color: white;
  padding: 14px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: none;
}

.reset-btn:hover {
  background: linear-gradient(135deg, #6BBF59, #002E5D);
  transform: scale(1.05);
}

/* Back to Login Link */
.back-to-login {
  text-decoration: none;
  margin-top: 1rem;
  color: #FF9900;
  font-size: 0.9rem;
}

.back-to-login a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.back-to-login a:hover {
  color: #FF9900;
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 480px) {
  .forgot-password-box {
    width: 90%;
    padding: 1rem;
  }

  .forgot-password-title {
    font-size: 1.5rem;
  }

  .input-field {
    padding: 12px;
  }

  .reset-btn {
    font-size: 0.9rem;
    padding: 12px;
  }
}
